p {
    font-family: 'Share Tech Mono';
    font-size: 14px;
    color: white;
}

#canvas {
    width: 1024px;
    height: 768px;
    position: absolute;
    background-color: #24292b;
    display: flex;
    justify-content: center;
}

#background1 {
    width: 705px;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(155, 235, 59, 0);
    background-image: url('img/background1.pngs');
    box-shadow: -1px 11px 53px -2px rgba(0, 0, 0, 0.49);
}

#background2 {
    width: 705px;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(155, 235, 59, 0);
    background-image: url('img/background2.pngs');
    box-shadow: -1px 11px 53px -2px rgba(0, 0, 0, 0.49);
}

#lightBackground {
    box-shadow: 0px -150px 374px 30px rgba(255, 255, 255, 0.3);
}

#textArea {
    /*width: 560px;*/
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    position: absolute;
    top: 500px;
    display: block;
}

#text {}

#level {
    position: relative;
    background-color: rgba(255, 235, 59, 1);
    display: flex;
}

#spriteBox {
    width: 80px;
    height: 120px;
    position: absolute;
    display: flex;
    align-self: center;
    left: -17px;
    background-image: url('img/characterSprite.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#characterBox {
    background-color: rgba(0, 0, 0, 1);
    width: 48px;
    height: 120px;
    position: absolute;
    display: flex;
    align-self: flex-end;
}

#atendedor {
    background-image: url('img/atendedor.pngs');
    background-color: rgba(10, 45, 33, 1);
    width: 96px;
    height: 91px;
    display: flex;
    align-self: flex-end;
    position: relative;
}

#door1,
#door2,
#door3 {
    background-image: url('img/doors.pngs');
    display: flex;
    align-self: flex-end;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    width: 62px;
    height: 125px;
}

#ventilador {
    display: flex;
    position: relative;
    align-self: flex-start;
    width: 82px;
    height: 56px;
    background-image: url('img/Ventilador.pngs');
    animation: ventiladorAnimation 1s steps(10) infinite;
}

#greenSign {
    background-image: url('img/greenSign.pngs');
    width: 43px;
    height: 19px;
    position: absolute;
}

#macetaAmarilla {
    width: 46px;
    height: 70px;
    display: flex;
    align-self: flex-end;
    position: relative;
    background-image: url('img/Maceta.pngs');
}

#board {
    position: relative;
    width: 120px;
    height: 48px;
    background-image: url('img/Board.pngs');
}

#deskOfficer {
    background-color: rgba(10, 45, 33, 1);
    width: 50px;
    height: 120px;
    display: flex;
    align-self: flex-end;
    position: relative;
}

@keyframes ventiladorAnimation {
    100% {
        background-position: -824px;
    }
}

@keyframes steyCharacterAnimation {
    100% {
        background-position-x: -640px
    }
}

@keyframes walkCharacterAnimation {
    100% {
        background-position-x: -656px;
    }
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url('fonts/ShareTechMono-Regular.ttf');
}