p {
    font-family: 'Share Tech Mono';
    font-size: 14px;
    color: white;
}

#canvas {
    width: 1024px;
    height: 768px;
    position: absolute;
    background-color: #24292b;
    display: flex;
    justify-content: center;
}

#background1, #background2, #backgroundHall, #backgroundShotRoom {
    width: 705px;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(155, 235, 59, 0);
    box-shadow: -1px 11px 53px -2px rgba(0, 0, 0, 0.49);
}

#background1 {
    background-image: url('img/background1.png');
    width: 705px;
}

#background2 {
    background-image: url('img/background2.png');
    width: 704px;
}

#backgroundHall {
    background-image: url('img/backgroundHall.png');
    width: 761px;
}

#backgroundShotRoom {
    background-image: url('img/backgroundShotRoom.png');
    width: 765px;
}

#lightBackground {
    box-shadow: 0px -150px 374px 30px rgba(255, 255, 255, 0.3);
}

#textArea {
    /*width: 560px;*/
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    position: absolute;
    top: 500px;
    display: block;
}

#text {}

#level {
    position: relative;
    background-color: rgba(255, 235, 59, 0);
    display: flex;
}

#spriteBox {
    width: 80px;
    height: 120px;
    position: absolute;
    display: flex;
    align-self: center;
    left: -17px;
    background-image: url('img/characterSprite.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

#characterBox {
    background-color: rgba(0, 0, 0, 0);
    width: 48px;
    height: 120px;
    position: absolute;
    display: flex;
    align-self: flex-end;
}

#atendedor {
    background-image: url('img/atendedor.png');
    background-color: rgba(10, 45, 33, 0);
    width: 96px;
    height: 91px;
    display: flex;
    align-self: flex-end;
    position: relative;
}

#door1,
#door2,
#door3,
#door4 {
    background-image: url('img/doors.png');
    display: flex;
    align-self: flex-end;
    position: absolute;
    background-color: rgba(0, 0, 0, 0 );
    width: 62px;
    height: 125px;
}

#door4 {
    background-position-x: -62px;
}

#ventilador {
    display: flex;
    position: relative;
    align-self: flex-start;
    width: 82px;
    height: 56px;
    background-image: url('img/Ventilador.png');
    animation: ventiladorAnimation 1s steps(10) infinite;
}

#greenSign {
    background-image: url('img/greenSign.png');
    width: 43px;
    height: 19px;
    position: absolute;
}

#macetaAmarilla {
    width: 46px;
    height: 70px;
    display: flex;
    align-self: flex-end;
    position: relative;
    background-image: url('img/Maceta.png');
}

#board {
    position: relative;
    width: 120px;
    height: 48px;
    background-image: url('img/Board.png');
}

#deskOfficer {
    background-color: rgba(10, 45, 33, 0);
    width: 50px;
    height: 120px;
    display: flex;
    align-self: flex-end;
    position: relative;
}

#paperboardShot {
    display: flex;
    position: absolute;
    align-self: flex-end;
    width: 40px;
    height: 110px;
    background-image: url('img/paperboardShot.png');
}


#fileCabinetBox1, #fileCabinetBox2, #fileCabinetBox3, #fileCabinetBox4, #fileCabinetBox5 {
    display: flex;
    position: absolute;
    align-self: flex-end;
    width: 90px;
    height: 108px;
}

#fileCabinetBox1 {
    background-image: url('img/fileCabinetBox1.png');
}
#fileCabinetBox2 {
    background-image: url('img/fileCabinetBox2.png');
}
#fileCabinetBox3 {
    background-image: url('img/fileCabinetBox3.png');
}
#fileCabinetBox4 {
    background-image: url('img/fileCabinetBox4.png');
}
#fileCabinetBox5 {
    background-image: url('img/fileCabinetBox5.png');
}


#shotTable {
    display: flex;
    position: relative;
    align-self: flex-start;
    width: 35px;
    height: 186px;
    background-image: url('img/shotTable.png');
}

@keyframes ventiladorAnimation {
    100% {
        background-position: -824px;
    }
}

@keyframes steyCharacterAnimation {
    100% {
        background-position-x: -640px
    }
}

@keyframes steyWithGunAnimation {
    100% {
        background-position-x: -400px
    }
}

@keyframes walkCharacterAnimation {
    100% {
        background-position-x: -656px;
    }
}

@font-face {
    font-family: 'Share Tech Mono';
    src: url('fonts/ShareTechMono-Regular.ttf');
}